<nav class="navbar navbar-dark" style="background: rgba(0,0,0,0.8);padding: 0 1rem;">
  <a class="navbar-brand" href="#">
      <img style="float:left;margin-right: 10px;" src="matcocat.png" width="60%"  class="d-inline-block align-top" alt="">
  </a>
  <div style="float:right">
      <p style="margin-top:10px;color: #FFCC00 !important;font-size: 25px;">
          Capacitación
      </p>
  </div>
</nav>

<div class="container-fluid pd-07">

    <p-breadcrumb [model]="menuNav"></p-breadcrumb>
    <p class='mb-10'></p> <!-- dejamos espacio con margin-bottom --> 
    <p-menubar [model]="menuBar"></p-menubar>
    <p class="mb-10"></p>
    <p-table id="table" #dt [columns]="cols" [value]="alumnos" [paginator]="true" [rows] = "10"
        selectionMode="single" [(selection)] = "dataSelect" (onRowSelect)="onRowSelect()" (onRowUnselect)="onRowUnselect($event)">
        <ng-template pTemplate="caption">
            <div style="text-align: left">
                <button class="btn btn-dark" (click)="clearFilters(dt)">
                <i class="pi pi-trash" style="margin:0px 0px"></i> Borrar Filtros</button>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                </tr>
                <tr>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field">
                        <input pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">     
                    </th>
                </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-alumno>
                <tr [pSelectableRow]="rowData">
                    <td>{{alumno.matricula}}</td>
                    <td>{{alumno.nombres}}</td>
                    <td>{{alumno.apellidoPaterno}}</td>
                    <td>{{alumno.apellidoMaterno}}</td>
                </tr>
        </ng-template>
    </p-table>
</div>
